//* Breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

//* Spacing
$spacing: (
  xs: 0.25rem,
  sm: 0.5rem,
  md: 1rem,
  lg: 1.5rem,
  xl: 2rem,
  xxl: 2.5rem
);

:root {
  //* Colors
  /*
    The higher the number on the scale, the lighter the shade of the color
  */
  --clr-black: #000;
  --clr-grey: #333;
  --clr-grey-1: #b3b3b3;
  --clr-grey-2: rgba(255, 255, 255, 0.5);
  --clr-red: #ee4266;
  --clr-white: #fff;
  --clr-yellow: #ffc107;
}
